body{
  text-align: center;
  
}


.bookmarkList{
  border: 1px solid grey;
  padding: 5px;
}

.newBookmark{
  border: 1px solid grey;
  padding: 5px;
  align-items: center;
}

.info{
  border: 1px solid grey;
  padding: 5px;
}

.collapsed{
  border: 1px solid grey;
}

.expand{
  display: flex;
  flex-direction: row;
}

.saved{
  border: 1px solid grey;
  padding: 5px;
}

.p{
  flex: 1;
}
